{# templates/pages/index.html.twig #}
{% extends 'pages/layout.html.twig' %}

{% block title %}Accueil - Mon Site{% endblock %}

{% block content %}
    <h1>Bienvenue sur Mon Site</h1>
    <p>Page d'accueil en construction...</p>
    <a href="{{ path('registration') }}">Inscription</a>
{% endblock %}
