{% block body %} 
<h1>Allez-y inscrivez-vous ici !</h1>
{{form_start(registrationForm)}}
{{form_widget(registrationForm)}}
<button type="submit">Envoyer</button>
{{form_end(registrationForm)}}
{% endblock %}